<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="fontawesome-free-6.1.1-web/css/fontawesome.css" rel="stylesheet" />
    <link href="fontawesome-free-6.1.1-web/css/brands.css" rel="stylesheet" />
    <link href="fontawesome-free-6.1.1-web/css/solid.css" rel="stylesheet" />

    <!-- update existing v4 CSS to use v6 icons and assets -->
    <link href="fontawesome-free-6.1.1-web/css/v4-font-face.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Bot commers</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="https://botcommerce.io/static/img/logo.svg" width="150"
                        height="100" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Why Us?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Our successful clients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Documentation</a>
                        </li>

                    </ul>
                    <button type="button" class="btn btn-primary"><a href="{% url 'sign_in' %}"
                            class="a_link">Enter</a></button>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-lg-inline-flex justify-content-center">
                <div class="pt-5 pr-5 mt-5">
                    <h1><b>Your shop inside</b></h1>
                    <h1><b>telegram in 5 minutes</b></h1>
                    <p>A complete shop, with payment systems, delivery services and convenient control panel with
                        built-in
                        CRM and Analytics.
                    </p>
                    <button type="button" class="btn btn-primary mt-3">Create shop</button>
                </div>

            </div>
            <div class="col-md-6 d-lg-inline-flex justify-content-center"><img
                    class="illustration has-illustration-medium" src="https://botcommerce.io/static/img/bot_main.svg"
                    width="400" height=400" alt=""></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-lg-inline-flex justify-content-center">
                <img src="https://botcommerce.io/static/img/bot_how.svg" width="400" height="600" alt="">
            </div>
            <div class="col-md-6 d-lg-inline-flex justify-content-center">
                <div class="pt-5">
                    <h1>How it works</h1>
                    <p>In just 3 easy steps:</p>
                    <div class="d-flex py-3">
                        <div class="bg-danger circle_item">
                            <i class="fa-solid fa-square-plus fa-2x p-4"></i>
                        </div>
                        <div class="ps-4">
                            <h4>Enter botCommerce</h4>
                            <p>Create a profile in a seconds
                                using your personal email</p>
                        </div>
                    </div>
                    <div class="d-flex py-3">
                        <div class="bg-info circle_item">
                            <i class="fa-brands fa-shopify fa-3x"></i>
                        </div>
                        <div class="ps-4">
                            <h4>Enter botCommerce</h4>
                            <p>Create a profile in a seconds
                                using your personal email</p>
                        </div>
                    </div>
                    <div class="d-flex py-3">
                        <div class="bg-info circle_item">
                            <i class="fa-solid fa-heart fa-3x"></i>
                        </div>
                        <div class="ps-4">
                            <h4>Enter botCommerce</h4>
                            <p>Create a profile in a seconds
                                using your personal email</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="text_center">
            <h1>How does a Telegram shop looks like?</h1>
            <p>Main menu, categories, products, cart, checkout process</p>
        </div>

    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>

</html>